@charset "UTF-8";

.music{
	color:black;
}
header{
	background-color: #d9d9d9;
}

.score{
	position: relative;
	text-align: center;
	zoom:180%;
	z-index: 8;
}

.score img{
	width:450px;

}

.bar {
	position: absolute;
	top:1.4vh;
	left:7.9vw;
  width: 2px;
  height: 12vh;
  background-color: red;
  z-index: 9;
}
.button{
	display: flex;
	margin-left: 24vw;
}
.stop{

}

.play{
}

.back a{
	text-decoration: none;
}

.scoreArray{
	display: flex;
	 animation: loop-slide 60s infinite linear 1s both;
	     width: 450vw;

}
@keyframes loop-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
