@charset "UTF-8";

.music{
	color:black;
}
header{
	background-color: #d9d9d9;
}

.score{
	text-align: center;
	zoom:180%;
}
.button{
	display: flex;
}


.stop{

}

.play{
	margin-left:45vw;
}

.back a{
	text-decoration: none;
}